/*
#section-register .short {
color:#FF0000;
}
#section-register .weak {
color:orange;
}
#section-register .good {
color:#2D98F3;
}
#section-register .strong {
color: limegreen;
}
*/
#section-register #result {
    display: block;
    position: absolute;
    right: -100px;
    bottom: 0;
    height: 28px;
    font-size: 12px;
}
#section-register #result #meter {
    position: relative;
    left: 0;
    display: block;
    width: 100px;
}

#section-register #result #meter::before {
    content: "";
    display: block;
    height: 5px;
    position: absolute;
    left: 0;
    top: -5px;
    background: #ccc;
    width: 100%;
}

#section-register .short::after,
#section-register .weak::after,
#section-register .good::after,
#section-register .strong::after {
    content: "";
    height: 5px;
    display: block;
    position: absolute;
    top: -5px;
    bottom: 5px;
}

#section-register .short::after {
    background-color: #FF0000;
    width: 10%;
}

#section-register .weak::after {
    background-color: orange;
    width: 25%;
}
#section-register .good::after {
    background-color: #2D98F3;
    width: 50%;
}
#section-register .strong::after {
    background-color: limegreen;
    width: 85%;
}

#section-register .full::after {
    width: 100%;
}